[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vk-common = {editable = true, git = "ssh://git@github.com/dbradul/vk_common.git"}
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
